@tailwind base;
@tailwind components;
@tailwind utilities;





@layer components {
    .btnnav {
        @apply text-black font-semibold text-sm desktop:text-xl
        hover:text-lg
    }

    .img {
        @apply w-full h-full rounded-2xl
        shadow-md
    }
    
    .content {
        @apply text-transparent font-bold hover:text-white 
        grid place-content-center
        desktop:w-[600px] desktop:h-[240px] 
        laptop:w-[450px] laptop:h-[240px]
        tablet:w-[350px] tablet:h-[180px]
        mobile:w-[400px] mobile:h-[100px]
        w-full h-[130px]
        text-2xl tablet:text-4xl    
    }
}

